{% extends 'base.html.twig' %}

{% block title %}New Role{% endblock %}

{% block body %}
    <h1>Create new role</h1>

    {{ include('backend/role/_form.html.twig') }}

    <a href="{{ path('backend_role_index') }}">back to list</a>
{% endblock %}
