{% block nav %}
    <nav class=" container-fluid nav">
        <a class="nav-item nav-link"  href="{{ path('backend_tag_index') }}"> 
            admin TAGS 
        </a>
        <a class="nav-item nav-link"  href="{{ path('user') }}"> 
            admin USERS 
        </a>
        {# other nav links usfull for admin (and moderators???) #}
    </nav>
{% endblock %}